[defaults]
inventory = /home/usuario/ComputacionNube/ansible/host.ini #cambiar usuario por user
remote_user = ubuntu
private_key_file = /home/usuario/ComputacionNube/ansible/.ssh/lab93.pem #cambiar usuario por user
host_key_checking = False
ansible_python_interpreter = /usr/bin/python3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False